.App {
  display: 'flex';
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.battle-field{
  height: 350px;
  width: 200px;
}
.deal-card-button {
  font-size: 100px;
  flex: 1;
  font-weight: bold;
}
.user-area{
  float: right;
}

.deal-card-wrapper{
  position: absolute;
  left: 40%;
  top: 75%;
  height: 100px;
  width: 300px;
  font-weight: bold;
}

.deck{
  background: url('./assets/war-games-card-deck.png');
  background-size: cover;
  height: 200px;
  width: 120px;
}

.App-link {
  color: #61dafb;
}
.section-title{
  font-size: 80px;
}
.menu-button{
  height: 80px;
  width: 200px;
}


.user-deck{
  margin-bottom: -150px;
    margin-right: 30px;

}
.main-menu-wrapper{
   margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  /* display: grid; */
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-player-card{
  top: -150px;
  animation: cardSlide 2s forwards;
}

.baseball-card-front  {
  border: 5px solid black;
 transition: transform 0.4s;
  transform-style: preserve-3d;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.baseball-card-front-with-stats{
  -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    transform: rotateY(-180deg);
    padding: -20%;
}

.text-flip{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.whose-turn{
  position: absolute;
  top: 700px;
  left: 680px;
}

.baseball-card-back{
  margin: '.25rem';
    transform: rotateY(-180deg);
  padding-bottom: -20%;
}

.card-image{
    border: 5px solid black;
  height: 100%;
  width: 100%; 
}

.feedback-text-win {
  animation: feedbackFade 2s;
  color: green;
  position: absolute;
  top: 200px;
  left: 300px;
  animation-fill-mode:forwards;
}
.feedback-text-loss {
  animation: feedbackFade 2s;
  color: red;
  position: absolute;
  top: 200px;
  left: 300px;
  animation-fill-mode: forwards;
}

.loading{
  position: absolute;
  top: 25%;
  left: 25%;
  margin-right: -50%;
  margin-bottom: 50%;
}
.loading-gif{
  height: 200%;
  width: 200%;
}


.computer-player-card{
  animation: cardSlide2 2s forwards;
}

.baseball-card-full-stats{
  overflow-y: auto;
 height: 300px;
  width: 150px;  transition: transform 0.4s;
  transform-style: preserve-3d;
  border: solid black 5px;
  text-size-adjust: small;
   text-overflow: ellipsis;
  background-color: bisque;
}

.stats{
  font-size: 20px;
  display: grid;
}
.coming-soon-text{
  animation: regularFadeIn 2s;
}


@keyframes cardSlide {
  from {
    transform: translateX(0%) translateY(0%);
  }
   to{ transform: translateX(-250%) translateY(-250%)};
}
@keyframes feedbackFade {
   0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
@keyframes regularFadeIn {
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes cardSlide2 {
  from {
    transform: translateX(0%) translateY(0%);
  }
   to{ transform: translateX(250%) translateY(120%)};
}
@keyframes mobileCardSlide {
  from {
    transform: translateX(0%) translateY(0%);
  }
   to{ transform: translateX(-75%) translateY(-120%)};
}
@keyframes mobileCardSlide2 {
  from {
    transform: translateX(0%) translateY(0%);
  }
   to{ transform: translateX(10%) translateY(20%)};
}

@media (max-width: 767px) { 


.baseball-card-full-stats{
  overflow-y: auto;
 height: 300px;
  width: 130px;  transition: transform 0.4s;
  transform-style: preserve-3d;
  border: solid black 5px;
  text-size-adjust: small;
   text-overflow: ellipsis;
  background-color: bisque;
}
  .loading{
  position: absolute;
  top: 25%;
  right: 50px;
  margin-bottom: 50%;
}
.loading-gif{
  height: 50%;
  width: 55%;
}

.deal-card-wrapper{
  /* position: absolute; */
  left: 20%;
  top: 50%;
  height: 60px;
  width: 250px;
  font-weight: bold;
}
.user-player-card{
  /* border: 5px solid black; */
top: -150px;
 height: '10rem';
  width: '8rem';
animation: mobileCardSlide 2s forwards;
}

.computer-player-card{
  height: '10rem';
  width: '8rem';
  animation: mobileCardSlide2 2s forwards;
}


.feedback-text-win {
  animation: feedbackFade 2s;
  color: green;
  position: absolute;
  top: 200px;
  left: 200px;
  animation-fill-mode:forwards;
}
.feedback-text-loss {
  animation: feedbackFade 2s;
  color: red;
  position: absolute;
  top: 200px;
  left: 200px;
  animation-fill-mode: forwards;
}

.deal-card-button {
  font-size: 50px;
  flex: 1;
  font-weight: bold;
}

.deal-card-wrapper{
  position: absolute;
  left: 40%;
  top: 25%;
  height: 50px;
  width: 200px;
  font-weight: bold;
}
}